.container {
  background-color: #000000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  align-items: center;
  color: white;
  font-family: 'Oswald', sans-serif
}

div.icons {
  display: none;
}

.main {
  display: flex;
  width: 90%;
  margin: 20px auto;

  .sidebar {
    background-color: #1b1b25;
    width: 250px;
    padding: 10px 10px;
    margin-right: 40px;


    &__header {
      letter-spacing: 3px;
      margin-left: 5px;
      font-size: 25px;
    }

    &__category {
      margin-left: 20px;
      font-size: 20px;
      margin-top: 15px;
      letter-spacing: 2px;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }

    &__range,
    &__header {
      margin-top: 50px;
    }

    &__capacities__list {
      display: flex;
      flex-direction: column;

      .storage {
        margin-bottom: 12px;
        margin-top: 12px;
        cursor: pointer;
        font-size: 20px;
        margin-left: 20px;

        span {
          margin-left: 10px;
        }

        :hover {
          font-weight: 700;
        }
      }
    }
  }

  .phones_list {
    flex: 1;
  }

}



@media screen and (max-width: 555px) {

  .main .sidebar {
    width: 100%;
    margin: 0 auto;
  }

  div.icons {
    display: block;
    cursor: pointer;
    font-size: 40px;
    width: 90%;
  }

  .sidebar.disactive {
    display: none;
  }

  .header-wrapper.disactive {
    display: none;
  }
}